body {
    width: 100%;
    margin: 0 auto;
}

main {
    height: 80%;
}

a {
    text-decoration: none; 
    color: inherit;
}

a:hover {
    color: inherit; 
}

#container {
    height: 100%;
}

/*HEADER*/
.header-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    background-color: #000000;
}
    .header-banner-content {
        margin-right: 1%;
        margin-left: auto;
    }

        .header-banner nav ul {
            list-style-type: none;
            overflow: hidden;
        }

            .header-banner nav li {
                float: right;
            }

                .header-banner nav li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                    .header-banner nav li a:hover {
                        background-color: #FFA800;
                    }

.header-content {
    color: #FFFFFF;
    background-image: url(images/header_background.jpg);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    font-family: koho, sans-serif;
    font-size: xx-large;
}

/*MENU*/
.menu-section {
    width: 100%;
    height: 50%; 
    display: flex;
    flex-wrap: wrap;
    font-family: 'Koho', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    align-items: center;
}
    .menu-row {
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-evenly;
        margin: 10px;
    }
    .menu-row a{
        width: calc(20% - 20px);
        display: flex;
        justify-content: space-evenly;
    }

        .menu-content {
            width: 100%;
            text-align: center;
            /*cursor: pointer;*/
        }

        .menu-content:hover {
            scale: 105%;
            text-align: center;
        }

            .menu-content img {
                border-radius: 50%;
                width: 100%;
            }

/* CONTACT */
.contact-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
}

    .contact-section h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
        width: 100%; /* Dodano, aby elementy formularza zajmowały całą dostępną szerokość */
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
        box-sizing: border-box; /* Dodano, aby zachować poprawne wymiary elementów pomimo dodanego paddingu */
    }

    button[type="submit"] {
        background-color: #000000;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #FFA800;
    }



/*FOOTER*/
.footer-banner {
    width: 100%;
    color: white;
    padding: 10px 0;
    text-align: center;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
}
    .footer-banner-content {
        margin-right: 1%;
        margin-left: auto;
    }
        .footer-banner nav ul {
            list-style-type: none;
            overflow: hidden;
        }

        .footer-banner nav li {
            float: right;
        }

            .footer-banner nav li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .footer-banner nav li a:hover {
                    background-color: #FFA800;
                }


/*RÓŻNE ROZMIARY EKRANÓW*/
@media only screen and (max-width: 600px) {
    body {
        height: 600px; /*telefony*/
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        height: 1200px; /*laptopy*/
    }
}

@media only screen and (min-width: 1025px) {
    body {
        height: 1800px; /*monitory*/
    }
}
