body {
    /*background-color: #D1E3DD;*/ 
    width: 96%;
    margin: 20px;
}
h1{
    font-size: xx-large;
}
h2{
    font-size: larger;
}
p{
    font-size: large;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}
nav li {
    float: right;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}
header {
    padding: 20px;
}
.header-content {
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(header_background.jpg);
    background-position: center;
}
.company-section {
    padding: 5px;
    margin: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images-content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.images-content img {
    margin: 5px;
    width: 20%;
    height: auto;
}
.images-content img:hover{
    margin: 5px;
    scale: 105%;
    height: auto;
}
.contact-section {
    text-align: center;
    margin-top: 20px;
}

.contact-section form {
    max-width: 600px; 
    margin: 0 auto;
}

.contact-section form div {
    margin-bottom: 20px; 
}

.contact-section form label {
    display: block; 
    margin-bottom: 5px; 
}

.contact-section form input[type="text"],
.contact-section form input[type="tel"],
.contact-section form input[type="email"],
.contact-section form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-section form input[type="file"] {
    width: 100%;
    margin-top: 5px;
}

.contact-section form textarea {
    height: 150px;
}

.contact-section form button[type="submit"] {
    background-color: #333; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px;
    cursor: pointer;
}

.contact-section form button[type="submit"]:hover {
    background-color: #111; 
}

